<div class="row justify-content-center tab-margin">
  <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active tab-font" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="true">Dashboard</a>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <a class="nav-item nav-link tab-font" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Events</a>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <a class="nav-item nav-link tab-font" id="nav-reports-tab" data-toggle="tab" href="#nav-reports" role="tab" aria-controls="nav-reports" aria-selected="false">Reports</a>
      <mat-divider class="divider" [vertical]="true"></mat-divider>
      <a class="nav-item nav-link tab-font" id="nav-log-tab" data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-log" aria-selected="false">Log</a>
    </div>
  </nav>
</div>

<div class></div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
    <app-dashboard></app-dashboard>
  </div>
  <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
    <app-events></app-events>
  </div>
  <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
    <app-reports></app-reports>
  </div>
  <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
    <app-log></app-log>
  </div>
</div>
  