.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00B140;
}

.divider {
    background-color: #00B140;
    margin: 1vw;
}

.tab-font {
    color: black;
}