<div class="container-fluid custom-top-margin">
  <div class="row justify-content-center">
    <div class="col-md-1"></div>
    <div class="col-md mr-5 mr-sm-0 ml-5 ml-sm-0">
      <div class="row">
        <div class="col-md">
          <mat-card class="light2-bg cardMargin">
            <mat-card-content>
              Total Events in 2019
              <div class="row justify-content-center highlight-font">
                56
              </div>
            </mat-card-content>
          </mat-card>
          <div class="row">&nbsp;</div>
        </div>
        <div class="col-md">
          <mat-card class="light2-bg cardMargin">
            <mat-card-content>
              Upcoming Events
              <div class="row justify-content-center highlight-font">
                24
              </div>
            </mat-card-content>
          </mat-card>
          <div class="row">&nbsp;</div>
        </div>
        <div class="col-md">
          <mat-card class="light2-bg cardMargin">
            <mat-card-content>
              Total Volunteers
              <div class="row justify-content-center highlight-font">
                12428
              </div>
            </mat-card-content>
          </mat-card>
          <div class="row">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-1"></div>
    <div class="col-md mr-5 mr-sm-0 ml-5 ml-sm-0">
      <mat-card class="light2-bg cardMargin">
        <mat-card-content>
          Top Volunteers in 2019
          <div class="row justify-content-center volunteer-font">
            John Doe
          </div>
          <div class="row justify-content-center volunteer-font">
            John Doe
          </div>
          <div class="row justify-content-center volunteer-font">
            John Doe
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>