@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body, html {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
    background-color: #FFFFFF;
    font-size: 1em;
}

@font-face {
  font-family: TTNorm;
  src: url(assets/font/TT-Norms/TTNorms-Regular.otf) format("opentype");
}

* {
  font-family: 'TTNorm', Geneva, Verdana, sans-serif;
}



.light1-bg {
    background-color: #E9CFCF;
}

.light2-bg {
    background-color: #0033A0;
    color: #FFFFFF;
}

.light3-bg {
    background-color: #F3E8E8;
}

.box-container {
    border: 2px solid #00B140;
    padding: 3vw;
    border-radius: 2vw;
}

.btn {
    background-color: #FF8F1C;
    border: 1px solid #00B140;
}

.errorMsg {
    color: red;
}

.cardError {
    padding-top: 1vw;
    padding-left: 1vw;
}

.label {
    font-size: 0.5em;
}

.cardMargin {
    margin-bottom: 2vw;
}

.cardlist {
    border: 1px solid #00B140;
    margin-bottom: 2vw;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00B140;
}

.divider {
    background-color: #00B140;
    margin: 1px;
}

.tab-font {
    color: black;
}

.tab-margin {
    margin-bottom: 5vh;
}

table {
  width: 100%;
}

.list-margin {
    margin-bottom: 2vh;
}

.float {
  position: fixed;
  top: 80%;
  right:15vh;
  width: 3vw;
  height: 3vw;
  font-size: 4rem;
  color: #FF8F1C;
}

.hor-vert-scroll {
    overflow: scroll;
    height: 50vh;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #0033A0;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0033A0;
    color: #00B140;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }