<div class="row justify-content-center">
  <div class="col-md-1"></div>
  <div class="col-md">
    <mat-card class="light2-bg cardMargin d-none d-md-block">
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <strong>Event</strong>
          </div>
          <div class="col-md-2">
            <strong>Date</strong>
          </div>
          <div class="col-md-2">
            <strong>Location</strong>
          </div>
          <div class="col-md-2">
            <strong>Register</strong>
          </div>
  	    </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row justify-content-center">
  <div class="col-md-1"></div>
  <div class="col-md">
    <mat-card class="cardlist">
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            Teaching in Government school
          </div>
          <div class="col-md-2">
            <span class="d-md-none"><strong>Date: </strong></span>
            2020-01-01
          </div>
          <div class="col-md-2">
            <span class="d-md-none"><strong>Location</strong></span>
            Chennai
          </div>
          <div class="col-md-2">
            <mat-icon class="icon-save" (click)="register()">check_circle_outline</mat-icon>
          </div>
  	    </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-1"></div>
</div>
